* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
}

body {
  background-image: url(./img/greenhill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  flex-direction: column;
}

header {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  text-shadow: 0px 0px 20px white;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.header-side {
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  font-size: 75%;
}

input, label{
  cursor: pointer;
}

#soundLabel{
  font-size: 60%;
  color: gold;
}

.card {
  cursor: pointer;
  background-color: white;
  border: 5px solid darkblue;
  border-radius: 1rem;
  margin: 1%;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex: 20%;
  box-shadow: 2px 2px 10px black;
  transition: 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}

.card-container {
  border-radius: 1rem;
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  height: 60%;
}

.card-front {
  transform: rotateY(180deg);
}

.card-flip {
  transform: rotateY(180deg);
}

.card-hidden {
  display: none;
}

.bright-border {
  border: 5px solid yellow;
}

@media (max-aspect-ratio: 1/1) {
  .card {
    flex: 25%;
  }
  .card-front,
  .card-back {
    height: unset;
    width: 60%;
  }
}
